/* Place global library styles here */

// font-weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500; 
$font-bold: 700;

// color palette
$black-500: #4a4a4a;
$black-100: #e6e6e6;
$black-050: #f0f0f0;
$black-000: #ffffff;


$primary: #3f51b5;


// Grid-width
.ngf-col-12 {
  width: 100%;
}

.ngf-col-10 {
  width: 83.33%;
}

.ngf-col-8 {
  width: 66.67%;
}

.ngf-col-6 {
  width: 50%;
}

.ngf-col-4 {
  width: 33.33%;
}

.ngf-col-3 {
  width: 25%;
}

.ngf-col-2 {
  width: 16.67%;
}

.ngf-col-1 {
  width: 8.33%;
}

.ngf-fit-content {
  min-width: fit-content;
}

// Heading elements
.ngf-h1, .ngf-h2, .ngf-h3, .ngf-h4, .ngf-h5, .ngf-h6 {
  font-weight: $font-medium;
}


// Mat-Form-field
.ngf-form-field.mat-form-field {
  width: 100%;
}

// Mat-Error
.ngf-field-error {
  display: flex;
  justify-content: space-between;
}